<div class="content-header mb-5">
  <h2>Nova Conta</h2>
</div>
<form>
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Senha</label>
    <input type="password" class="form-control" id="password">
  </div>
  <div class="">
    <label for="passwordConfirm" class="form-label">Confirmação de Senha</label>
    <input type="password" class="form-control" id="passwordConfirm">
  </div>
  <div class="d-grid gap-2 mt-4">
    <button class="btn btn-primary btn-lg" type="submit">Cadastrar-se</button>
  </div>
</form>
