<div class="content-header mb-5">
  <h2>Nova Conta</h2>
</div>
<alert type="success" *ngIf="success">
  <h4 class="alert-heading">Conta registrada com sucesso!</h4>
  <p class="mb-0">
    Em instantes você será redirecionado para a página inicial.
  </p>
</alert>
<alert type="danger" *ngIf="hasErrors()">
  <h4 class="alert-heading">Ops! :(</h4>
    <p class="mb-1" *ngFor="let error of errors">
      <i class="bi bi-exclamation-triangle-fill me-1"></i>
      {{error}}
    </p>
</alert>
<form [formGroup]="registerForm" (submit)="register()">
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome" formControlName="name"
           [ngClass]="getInputClassConfig('name')">
    <span class="text-danger" *ngIf="displayMessage['name']">
        <p [innerHTML]="displayMessage['name']"></p>
    </span>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" formControlName="email"
           [ngClass]="getInputClassConfig('email')">
    <span class="text-danger" *ngIf="displayMessage['email']">
        <p [innerHTML]="displayMessage['email']"></p>
    </span>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Senha</label>
    <input type="password" class="form-control" id="password" formControlName="password"
           [ngClass]="getInputClassConfig('password')">
    <span class="text-danger" *ngIf="displayMessage['password']">
        <p [innerHTML]="displayMessage['password']"></p>
    </span>
  </div>
  <div class="">
    <label for="passwordConfirm" class="form-label">Confirmação de Senha</label>
    <input type="password" class="form-control" id="passwordConfirm" formControlName="passwordConfirm"
           [ngClass]="getInputClassConfig('passwordConfirm')">
    <span class="text-danger" *ngIf="displayMessage['passwordConfirm']">
        <p [innerHTML]="displayMessage['passwordConfirm']"></p>
    </span>
  </div>
  <div class="d-grid gap-2 mt-4">
    <button class="btn btn-primary btn-lg d-flex align-items-center justify-content-center" type="button" [disabled]="!isValid() || loading" (click)="register()">
      <div class="spinner-border me-3" role="status" *ngIf="loading">
        <span class="visually-hidden">Loading...</span>
      </div>
      Cadastrar-se
    </button>
  </div>
</form>
