.btn-load-more {
  background-color: #202342;
  border-color: #202342;
  border-radius: 10px;
}

::ng-deep #accordion-filter .panel,
::ng-deep #accordion-filter .panel-heading {
  border: none;
  box-shadow: none;
  border-radius: 10px;
}

::ng-deep #accordion-filter .panel-heading .panel-title button {
  text-decoration: none;
  color: black;
  padding-left: 0;
}

::ng-deep #accordion-filter .panel-heading .panel-title .accordion-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::ng-deep #accordion-filter .panel-heading .panel-title .accordion-toggle::after {
  color: #202342;
  font-family: "bootstrap-icons";
  font-weight: 900;
}

::ng-deep #accordion-filter .panel-heading .panel-title .accordion-toggle[aria-expanded='false']::after {
  content: '\F282';
}

::ng-deep #accordion-filter .panel-heading .panel-title .accordion-toggle[aria-expanded='true']::after {
  content: '\F286';
}

