.task-item {
  border-radius: 5px !important;
}

button.dropdown-toggle {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
button#task-options.dropdown-toggle::after {
  content: none;
}

button#task-options {
  padding: 0;
  background-color: inherit;
  color: #33333380;
  border: none;
}

.deadline-label {
  color: rgba(17, 17, 17, 0.6);
}

.deadline-label.deadline-today {
  color: rgba(32, 35, 66, 0.93);
}

.deadline-label.deadline-overdue {
  color: rgba(255, 0, 0, 0.65);
}
