<div class="list-group-item my-1 py-0 task-item task-form px-0">
  <div class="px-3 py-3 d-flex align-items-center border-bottom">
    <div class="flex-shrink-1 me-3">
      <input class="form-check-input" type="checkbox" disabled id="">
    </div>
    <input type="text" placeholder="Adicionar uma tarefa" class="flex-grow-1 input-name" />
  </div>
  <div class="px-3 py-2 d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-center deadline">
      <button class="btn btn-sm p-0 py-1 border-0 me-2"
              (click)="dp.toggle()"
              [attr.aria-expanded]="dp.isOpen"
              [ngClass]="{ 'with-value px-2': bsValue !== undefined, 'px-0': bsValue === undefined }"
              type="button">
        <i class="bi bi-calendar3"></i>
        <span class="ms-2">
          {{bsValue?.toDateString()}}
        </span>
      </button>
      <input type="text"
             class="form-control input-deadline"
             #dp="bsDatepicker"
             bsDatepicker
             [(bsValue)]="bsValue"
             [bsConfig]="datePickerConfig"
             placement="right">
    </div>
    <div class="">
      <button class="btn btn-sm btn-outline-primary px-4 btn-add">Adicionar</button>
    </div>
  </div>
</div>
