.sidebar {
  height: 100%;
  background: #25294C !important;
}

.sidebar .user-info {
  background: #202342;
}

.sidebar .user-info div:last-child {
  cursor: pointer;
}

.nav-link {
  border-radius: unset;
}

.nav-link.active {
  background-color: #E9ECEF;
  color: #202342 !important;
}
